<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false">
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
    <!-- Comment the line above and uncomment the line below to get color output - see http://jukebox4.sourceforge.net/ for details -->
    <!-- <layout class="net.sf.jukebox.logger.ANSIColorLayout"> -->
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %p %C{1} %t [%x] %m %n" />
    </layout>
  </appender>
  <root>
    <priority value="debug" />
    <appender-ref ref="CONSOLE" />
  </root>
</log4j:configuration>